/* Themes */
:root {
	--background: #f2f4f8;
	--primary: #ffc600;
	--primary-border: #ffc600;
	--text: #2e2e2e;
	--love-text: #d12026;
	--muted-text: #ccc;
  --context-text: #6597b2;
  --link: #ffc600;

	--button: var(--text);

	--card-background: #fff;
	--card-hover: rgba(220, 233, 255, 0.48);
  --table-separator: #dee2e6;
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #424242;
		--primary: #5b60ff;
		--primary-border: #4347b6;

		--text: #f2f4f8;
		--love-text: #00e4c6;
		--context-text: #8effb1;

		--button: var(--primary);

		--card-background: #5f5f5f;
		--card-hover: rgba(47, 47, 47, 0.76);
		--table-separator: #828282;
	}
} */

a {
  color: var(--text);
  text-decoration-color: var(--link);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text);
  /* overflow: hidden; */
  background: var(--background);
}
.display {
  max-width: 1500px;
  margin: 0 auto;
}

p.huge {
  font-size: 100px; /* For lamers who don't support viewport sizing */
  font-size: 40vmin;
  text-align: center;
  margin: 0;
  display: block;
}
p {
  display: inline-block;
  color: var(--text);
  font-size: 20px;
  /* text-decoration: none;
  text-align: center;
  margin: 20px auto;
  padding: 15px 20px;
  background: var(--card-background);
  border-radius: 5px;
  min-width: 24px;
  font-size: 26px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04); */
}

span.love {
  display: block;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

span.love a {
  text-decoration: none;
  color: var(--love-text);
}

.twitter-follow-toggle-button {
  vertical-align: text-bottom;
}

.twitter-share-toggle-button {
  vertical-align: text-bottom;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 20px;
  margin: 0 auto;
}
.card {
  background: var(--card-background);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.11);
  display: grid;
  grid-template-rows: auto 1fr;
}

.item-location .card-main {
  padding: 9.5px;
}

.item-location .main-description {
  font-size: 23px;
}

.item-location .main-description span {
  display: block;
}

.item-event {
  text-align: left;
  line-height: 1.5;
}
.item-event pre {
  margin: 0;
}

.item-similar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.item-unicode {
  font-size: 60px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--card-hover);
}

.card-header {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid var(--primary-border);
  background-color: var(--primary);
  padding: 5px 10px;
  position: relative;
}


.deprecated-link {
  position: absolute;
  top: 6px;
  right: 12px;
  color: var(--context-text);
  font-size: 10px;
}

.card-main {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 15px 0;
}

.main-description {
  font-size: 28px;
  text-align: center;
  min-height: 35px;
}

.card footer {
  background:rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.card footer p {
  font-size: 12px;
}

.text-muted {
  font-size: 0.65em;
  color: var(--muted-text);
}

.table {
  table-layout: fixed;
  margin: auto;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  border-collapse: collapse;
}

.table-body {
  display: block;
  width: 100%;
  overflow: auto;
  background: var(--card-background);
}

.table thead tr {
  display: block;
  border-radius: 5px;
}

.table thead {
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid var(--primary-border);
  background-color: var(--primary);
}

.table th,
.table td {
  padding: 0.3rem 1rem;
  text-align: left;
  min-width: 100px;
  font-size: 1.2rem;
}

.table th {
  padding: 0.5rem 1rem;
}
.table td {
  border-bottom: 1px solid var(--table-separator);
}
.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-toggle-button {
  font: bold 16px arial;
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--button);
  border: 2px solid var(--button);
  background: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.table-toggle-button:hover {
  transform: translateY(-2px) scale(1.005) translateZ(0);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.11),
    0 6px 9px var(--card-hover);
}

.table-toggle-button:active {
  transform: translateY(2px) scale(0.995) translateZ(0);
  box-shadow: none;
}

.mobile-input input {
  width: calc(100% - 20px);
  height: 4rem;
  margin: 10px;
  font-size: 4rem;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
}

.mobile-input input:focus {
  outline: none;
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--card-hover);
}

.hide {
  display: none !important;
}
.active {
  display: flex;
}

/* Meta Keys */
.meta-keys {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.key {
  font-size: 50px;
  --color: rgba(0, 0, 0, 0.11);
  border: 1px solid var(--color);
  color: var(--color);
  border-radius: 5px;
  padding: 10px;
  transition: box-shadow 0.2s;
}

.key.pressed {
  --color: var(--button);
  border: 2px solid var(--button);
}

.key.history {
  background: var(--card-background);
  cursor: pointer;
  padding: 10px;
}

small {
  color:#5f5f5f;
  font-size: 10px;
}

.card-main {
  transition: transform 0.1s;
  transform: scale(1);
}

.copied {
  transform: scale(1.4);
}

.welcome p {
  text-align: center;
  font-size: 2rem;
  background: black;
  display: block;
  color: white;
  padding: 2rem 4rem;
  border-radius: 5rem;
  margin: 0 2rem;
}

.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[tabindex] {
  border: 2px solid transparent;
}
[tabindex]:focus {
  border-color: var(--primary);
  outline: 0;
}
.mobile-focus {
  width: 100%;
  font-size: 20px;
  color: black;
  text-align: center;
}
