@import "base.scss";

.layout {
  overflow-x: hidden;

  .container {
    @include flex-container(column);

    @include for-tablet {
      @include flex-container(row);
    }

    max-width: 1440px;
    height: calc(100vh - #{$header-height});

    main {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
