// @link https://www.figma.com/file/5SCTOPrCDcHuk5We091GBn/Product-Library?node-id=2%3A0

// BLUE
$blue-lighter: #edf1fd;
$blue-light: #25a9ef;
$blue-main: #204ecf;
$blue-dark: #183a9e;
$blue-darker: #0f256e;

// GREEN
$green-lighter: #eafbf5;
$green-main: #00cc83;
$green-dark: #03b080;
$green-darker: #05947c;

// GRAY
$gray-lightest: #fcfcfc;
$gray-lighter: #f3f4f6;
$gray-lighter-2: #ebeced;
$gray-light: #e5e7ea;
$gray-light-2: #d8d9dc;
$gray-main: #c4c6ca;
$gray-main-2: #84888e;
$gray-dark: #455065;
$gray-darker: #262d3d;

// RED
$red-lighter: #fbedf1;
$red-main: #d42551;

// YELLOW
$yellow-lighter: #fff5e3;
$yellow-main: #e59c01;

// SALT & PEPPER
$white: #fff;
$black: #000;
