@import "base";

@import "reset";
@import "fonts";

html,
body {
  @extend %font-sans-400;
  scroll-behavior: smooth;

  /*
    take all available viewport height to make footer sticking
    to the bottom even on pages with small amount of content
  */
  height: 100%;

  margin: unset;
}
