$font-stack-sans: "proxima-nova", Arial, sans-serif;
$font-weights-sans: 100, 300, 400, 600;

$font-stack-serif: Merriweather, Georgia, "Times New Roman", serif;
$font-weights-serif: 300;

$gutter-base: 8px;

$logo-ratio: 1.3333334;
$default-transition-duration: 200ms;
